
/* ==================================
   general setup
   ================================== */

/* ==================================
   html
   ================================== */
  
html {
    box-sizing: border-box;
}

/* ==================================
   body
   ================================== */

body {
    font-size: 16px;
}

/* ==================================
   all elements
   ================================== */
*, *::before, *::after {
    box-sizing: inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ==================================
   navbar-btn
   ================================== */

.navbar-btn {
    display: none;
}

.navbar-btn:checked ~ .body-header > .navbar-btn-label > .navbar-icon {
    background: transparent;
    transition: 0.4s;
}

.navbar-btn:checked ~ .body-header > .navbar-btn-label > .navbar-icon::before {
    top: 0;
    transform: rotate(405deg);
    transition: 0.4s;
}

.navbar-btn:checked ~ .body-header > .navbar-btn-label > .navbar-icon::after {
    top: 0;
    transform: rotate(-405deg);
    transition: 0.4s;
}

.navbar-btn:checked ~ .navbar {
    display: block;
}

/* ==================================
   mobile setup
   ================================== */

/* ==================================
   body-header
   ================================== */

  
.body-header {
    display: flex;
    justify-content: space-between;
    background-color: lightgreen;
    padding: 2rem; 
}

/* ==================================
   logo
   ================================== */

.logo {
    color: red;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
}

/* ==================================
   navbar-btn-label
   ================================== */

.navbar-btn-label {
    display: block;
    margin: 0.4rem 0 0 0;
}


/* ==================================
   .navbar-icon
   ================================== */

.navbar-icon {
    display: block;
    width: 2rem;
    height: 0.07rem;
    background-color: black;
    position: relative;
    transition: all linear 0.4s;
}

.navbar-icon::before,
.navbar-icon::after {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    transition: all linear 0.4s;
}

.navbar-icon::before {
    top: -0.5rem;
}

.navbar-icon::after {
    top: 0.5rem;
}

/* ==================================
   navbar-id
   ================================== */

#navbar {
    display: none;
    position: fixed;
    opacity: 0.5;
    width: 100%;
    height: auto;
    z-index: 99;
    top: 10vh;
    left: 0;
}

#navbar:hover,
#navbar:active {
    opacity: 1;
    transition: all 14ms linear 0ms;
}

#navbar .navbar-link:hover,
#navbar .navbar-link:active {
    color: white;
    text-transform: uppercase;
    background-color: aquamarine;
    border-radius: 0;
    /* property name | duration | timing function | delay */
    transition: all 4ms ease-in-out 0ms;
    border: 0;
}

#navbar .navbar-link:hover::before {
   display: none;
}

/* ==================================
   .navbar
   ================================== */

.navbar {
    display: none;
    background-color: hsla(177, 70%, 41%, 0.303);
}

/* ==================================
   .navbar-item
   ================================== */

.navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* ==================================
   navbar-link
   ================================== */

.navbar-link {
    display: block;
    color: red;
    position: relative;
    width: 6em;
    padding: 0.5em;
    border-radius: 50%;
    transition: 0.4s;
}

.navbar-link::before {
    content: "";
    display: block;
    top: -10%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 80%;
    margin: 0.5em 0;
    transform-origin: left;
    transform: scaleX(0%);
    border-radius: 50%;
    background: gold;
    transition: all linear 0.5s;
    transition-delay: 0.4s;
    opacity: 0.5;
}

.navbar-link:hover::before {
    transform: scaleX(100%);
}

.navbar-link:hover {
    color: white;
    background-color: aqua;
    border-bottom: 2px solid black;
}

/* ==================================
   body-main
   ================================== */

.body-main {
    display: block;
    position: relative;
    background-color: lightblue;
    height: 216vh;
}
/* ============================================================================
   some childlish game.
.body-main .article {
    position: relative;
}

.body-main .article::before {
    content: 'I got you!';
    color: lightgreen;
    background: wheat;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 2;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform-origin: top;
    transform: scaleY(0);
    transition: all 0.4s ease-out 0.8s;
}

.body-main .article:hover::before {
    transform: scaleY(100%);
}

   ============================================================================ */

/* ==================================
   articles and services
   ================================== */

.articles h2, .services h2 {
    padding: 1.5rem;
}

/* ==================================
   article
   ================================== */

.article {
    padding: 3vh 1.5em;
    height: 30vh;
}

/* ==================================
   aside
   ================================== */

.aside {
    position: relative;
    height: 50vh;
    padding: 1.5em;
    background-color: hsla(120, 73%, 75%, 0.432);
}

.aside p {
    display: block;
    position: relative;
    padding: 2rem;
}

.aside::before {
    content: 'love is in the atmosphere.I died for for you my baby. I die for love.';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0%);
    color: white;
    background: red;
    padding: 5rem;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease 0.8s;
}

.aside:hover::before {
    transform: scaleX(100%);
}

/* ==================================
   up-button
   ================================== */

   .up-button {
       display: none;
       color: white;
       cursor: pointer;
       bottom: 20vh;
       right: 2vw;
       border: none;
       outline: none;
       position: fixed;
       z-index: 99;
       height: 60px;
       width: 60px;
       border-radius: 50%;
       background: gold;
       padding: 5px;
       font-size: 90px;
       line-height: 1;
       text-align: center;
       opacity: 0.3;
   }

/* ==================================
   body-footer
   ================================== */

.body-footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 5vh;
    width: 100%;
    height: 23vh;
    background-color: hsla(0, 23%, 45%, 0.514);
}

.body-footer address {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* ==================================
   for screen of min-size := 40em = 640px
   ================================== */

@media only screen and (min-width: 40em) {

    /* ==================================
       body-header
       ================================== */
    
    .body-header {
        display: block;
        float: left;
        height: 5vh;
        padding: 1.2em;
    }

    /* ==================================
       navbar-btn-label
       ================================== */

    .navbar-btn-label {
        display: none;
    }

   /* ==================================
      navbar-id
      ================================== */

    #navbar .navbar-menu {
        display: flex;
        justify-content: center;
    }

    #navbar .navbar-item:nth-child(3) {
        display: none;
    }
    
    /* ==================================
       navbar
       ================================== */
    
    .navbar {
        display: flex;
        background-color: lightgreen;
        justify-content: right;
        padding: 0.5em 0;
        height: 5vh;
    }

    .navbar:nth-child(1) {
        padding: 1.2em;
    }

    .navbar:nth-child(1) .navbar-link {
        padding: 0;
    }

     /* ==================================
       navbar-menu
       ================================== */
    
    .navbar-menu {
        display: flex;
        justify-content: right;
    }

    /* ==================================
       navbar-item
       ================================== */

    .navbar-item:nth-child(3) {
        display: none;
    }

    /* ==================================
       navbar-link
       ================================== */

    .navbar-link {
        text-align: center;
    }

    /* ==================================
       body-main
       ================================== */

    .body-main {
        display: block;
        float: left;
        width: 65%;
        clear: both;
        height: 207vh; 
    }

    /* ==================================
       article
       ================================== */

    .article {
        height: 34vh;
    }


    /* ==================================
       aside
       ================================== */

    .aside {
        display: block;
        margin: 0 0 0 65%;
        width: 35%;
        padding: 0 2rem;
        border-top: none;
        height: 207vh;
    }

    /* ==================================
       body-footer
       ================================== */

    .body-footer {
        height: 10%;
    }

}

/* ==================================
   for screen of min-size := 80em = 1280px
   ================================== */

   @media only screen and (min-width: 80em) {

    /* ==================================
       body-header
       ================================== */
    
    .body-header {
        display: block;
        float: none;
        padding: 1vh;
        height: 5vh;
    }
    
    /* ==================================
       navbar
       ================================== */
    
    .navbar {
        display: flex;
        flex-direction: column;
        float: left;
        width: 15%;
        height: 120vh;
        align-items: center;
        background-color: hsla(177, 70%, 41%, 0.303);
    }

     /* ==================================
       navbar-menu
       ================================== */
    
    .navbar-menu {
        display: block;
    }

    /* ==================================
       navbar-link
       ================================== */

    .navbar-link {
        text-align: left;
    }

    /* ==================================
       body-main
       ================================== */

    .body-main {
        display: block;
        width: 65%;
        clear: none;
        padding: 0 1rem 0 2rem;
        height: 120vh; 
    }

    /* ==================================
       aside
       ================================== */

    .article {
        height: 15vh;
    }

    /* ==================================
       aside
       ================================== */

    .aside {
        display: block;
        margin: 0 0 0 80%;
        width: 20%;
        padding: 0 2rem;
        border-top: none;
        height: 120vh;
        clear: right;
    }

    /* ==================================
       body-footer
       ================================== */

    .body-footer {
        height: 15vh;
    }
}

/* ==================================
   orientation: landscape
   ================================== */

@media (orientation: landscape) and (max-width: 79em) {

    /* ==================================
       body
       ================================== */
    
    .body {
        display: block;
        text-align: center;
    }

    /* ==================================
       body-header
       ================================== */
    
    .body-header {
        display: flex;
        float: none;    
        justify-content: center;
        padding: 1.5vh;
        height: 10vh;
    }

    /* ==================================
       navbar-id
       ================================== */

    #navbar .navbar-item:nth-child(3) {
        display: block;
    }
    
    /* ==================================
       navbar
       ================================== */
    
    .navbar {
        display: flex;
        flex-direction: row;
        float: none;
        width: auto;
        height: auto;
        justify-content: space-around;
        background-color: hsla(177, 70%, 41%, 0.303);
    }

     /* ==================================
       navbar-menu
       ================================== */
    
    .navbar-menu {
        display: flex;
        justify-content: center;
    }

    
    /* ==================================
       navbar-link
       ================================== */

    .navbar-item:nth-child(3) {
        display: block;
    }

    /* ==================================
       navbar-link
       ================================== */

    .navbar-link {
        text-align: right;
    }

    /* ==================================
       body-main
       ================================== */

    .body-main {
        display: block;
        float: none;
        width: auto;
        clear: none;
        padding: 0 1rem 0 2rem;
        height: 300vh; 
    }

    /* ==================================
       article
       ================================== */

    .article {
        height: 45vh;
    }

    /* ==================================
       aside
       ================================== */

    .aside {
        display: block;
        margin: 0;
        width: auto;
        padding: 0 2rem;
        border-top: none;
        height: 70vh;
    }

    /* ==================================
       .body-footer
       ================================== */

    .body-footer {
        height: 30vh;
    }

}

